    <!-- jQuery -->
    <script src="__ADMIN_PUBLIC__/vendor/jquery/jquery.min.js"></script>
    <!-- <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__ADMIN_PUBLIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="__ADMIN_PUBLIC__/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- DataTables JavaScript -->
    <script src="__ADMIN_PUBLIC__/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="__ADMIN_PUBLIC__/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="__ADMIN_PUBLIC__/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="__ADMIN_PUBLIC__/dist/js/sb-admin-2.js"></script>