{extend name="base:common" /}
{block name="content"}
<div class="row">
    <div class="col-lg-12">
        <br>  
        <a href="{:url('picture/add')}" class="btn btn-primary btn-lg btn-block"><i class="glyphicon glyphicon-picture"></i> 上传图片</a>
		<br>
		<a href="{:url('video/add')}" class="btn btn-info btn-lg btn-block"><i class="glyphicon glyphicon-film"></i> 上传视频</a>    
		<br>
		<a href="/" class="btn btn-success btn-lg btn-block" target="_blank"><i class="glyphicon glyphicon-home"></i> 预览首页</a>    
    </div>
</div>
                        
{/block}